{% block content %} {% load static %}
<div class="container">
  <h3 class="title has-text-centered is-size-4">Related Products</h3>
  <div class="columns mt-5 is-8 is-variable is-hidden-mobile is-centered">
    <div class="column is-4-tablet is-3-desktop">
      <div class="card">
        <div class="card-image has-text-centered px-6">
          <img class="image is-square" src="{% static 'p.png' %}" alt="" />
        </div>
        <div class="card-content">
          <p>$12.95</p>
          <p class="title is-size-5">Cortardo</p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <a href="" class="has-text-grey">View Product</a>
          </p>
        </footer>
      </div></div>

        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image has-text-centered px-6">
              <img class="image is-square" src="{% static 'p2.png' %}" alt="" />
            </div>
            <div class="card-content">
              <p>$12.95</p>
              <p class="title is-size-5">Gotenks</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">View Product</a>
              </p>
            </footer>
          </div></div>
          <div class="column is-4-tablet is-3-desktop">
            <div class="card">
              <div class="card-image has-text-centered px-6">
                <img class="image is-square" src="{% static 'p3.png' %}" alt="" />
              </div>
              <div class="card-content">
                <p>$12.95</p>
                <p class="title is-size-5">Goku Black</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <a href="" class="has-text-grey">View Product</a>
                </p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    {% endblock content %}
  </div>
</div>
